.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: "poppins", sans-serif;
  background-color: #f5f5dc;
  padding-top: 130px;
}
.profileDetails {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 30px 40px;
  font-size: 20px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.485);
  box-shadow: 0 0 10px 0 #082c38;
  margin-top: 20px;
}
.profileDetails button {
  margin-top: 10px;
  width: 400px;
}
.profileImage {
  margin: 0 auto;
}
.profileImage img {
  border-radius: 30%70%70%30%/30%30%70%70%;
  width: 120px;
}
.postContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 30px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: #f5f5dc;
  font-family: "Poppins", sans-serif;
}
.postBox {
  border: 0.5px solid #082c38;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  margin: 0 auto;
}
.postBox img {
  max-width: 400px;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}
.postContainer button {
  margin-top: 10px;
  width: 250px;
}
.profileContainer h3 {
  margin-top: 30px;
}
.postEditContainer {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.postEditContainer input {
  width: 200px;
  padding: 10px 20px;
  outline: none;
  border-radius: 10px;
  height: 45px;
  border: 0.1px solid #082c38;
}
.postEditContainer textarea {
  max-width: 200px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: pre-wrap;
  outline: none;
  border-radius: 5px;
  border: none;
}
h2 {
  margin-top: 20px;
}
.notActive {
  display: none;
}
@media (max-width: 500px) {
  .profileDetails button {
    margin-top: 10px;
    width: 200px;
  }
  .postBox img {
    border-radius: 5px;
    width: 300px;
    height: 200px;
  }
  .postBox {
    padding: 20px 20px;
    margin: 0 auto;
  }
  .postBoxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }
  .postBoxContent p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .postBox button {
    width: 150px;
    margin: 10px auto;
  }
  .postContainer {
    padding: 30px 0;
  }
  .profileDetails {
    width: 300px;
    font-size: 15px;
    text-align: left;
  }
}
@media (max-width: 350px) {
  .profileDetails {
    width: 250px;
    font-size: 13px;
    text-align: left;
  }
  .profileDetails button {
    width: 100px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .postBox {
    max-width: 250px;
    width: 100%;
  }
  .postBox img {
    width: 100px;
    height: 150px;
  }
  .postBoxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    width: 100%;
    height: fit-content;
    line-height: 20px;
    margin: 0 auto;
    font-size: 10px;
  }
  .postBoxContent p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .postBox button {
    width: 100px;
    margin: 10px auto;
  }
  .postContainer {
    padding: 30px 0;
  }
  .postBox {
    margin: 0 auto;
    padding: 15px 0;
  }
}
