footer {
  margin: 0 auto;
  padding: 20px 50px;
  background-color: #082c38;
  color: white;
  max-width: 1440px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
footer hr {
  max-width: 1400px;
  width: 100%;
}
.firstLineFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.firstLineFooter input {
  width: 500px;
  padding: 15px 20px;
  margin-right: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.secondLineFooter p {
  line-height: 25px;
}
.secondLineFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.secondLineFooter ul li {
  list-style-type: none;
  line-height: 25px;
}
.secondLineFooter div h3 {
  margin-bottom: 10px;
}
.footerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footerImage img {
  margin-top: 10px;
  width: 50px;
  background-color: white;
  padding: 10px 10px;
  cursor: pointer;
}
@media (max-width: 950px) {
  footer {
    margin: 0 auto;
  }
  .firstLineFooter {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .secondLineFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 50px 150px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .firstLineFooter input {
    width: 250px;
  }
  .footerImage {
    width: 150px;
  }
  .footerImage img {
    width: 30px;
    padding: 3px 3px;
  }
}
@media (max-width: 320px) {
  .footerSubscribe {
    margin: 0 auto;
  }
  .secondLineFooter {
    padding: 20px 0;
    margin-top: 30px;
    font-size: 10px;
  }
  .secondLineFooter div {
    width: 100px;
  }
  .footerImage {
    display: flex;
    flex-direction: column;
  }
  .footerImage img {
    width: 25px;
    padding: 3px 3px;
  }
}
